<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Joo Jana 200</title> 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/index.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
          </ul>
        </nav>
      </div>
 
      <div class="jumbotron">
        <h2>Joo Jana 200 app</h2>
        <form class="form-signin">
        <label for="uri" class="sr-only">Image URI</label>
        <input type="name" name="uri" id="uri" class="form-control" placeholder="picture URL" required autofocus>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">run</button>
        <h3>CPU:be patient</h3>
      </form>
      </div>
      <footer class="footer">
      <center>
      <div class="results">
      <div id="topImage"> </div> 
      <div id="bottomImage"> </div> 
      </div>
      </center>
      </footer>

 
    </div>
  </body>
</html>
